<footer class="footer-section ">
    <div class="container-fluid max-width ">
        <div class="footer-cta pt-5 pb-5 media-hide ">
            <div class="row ">
                <div class="col-xl-4 col-md-4 mb-25">
                  <div class="footer-social-icon">    
                      <span><i class="fa fa-map-marker" aria-hidden="true"></i>Find Us @</span><br>
                  </div>     
                        <span>Cybage Software, Adarsh Nagar, Kalyani Nagar, Pune, Maharashtra 411014</span> 
                </div>
                <div class="col-xl-4 col-md-4 mb-25">
                  <div class="footer-social-icon">
                        <span><i class="fa fa-phone" aria-hidden="true"></i>Call Us @</span><br>
                  </div>     
                  <span> +917020619709 , +919016243435 </span>  
                </div>
                <div class="col-xl-4 col-md-4 mb-25">
                <div class="footer-social-icon">
                  <span><i class="fa fa-envelope" aria-hidden="true"></i>Follow us</span>
                  <a href="#"><i class="fa fa-facebook-square facebook-bg"></i></a>
                 <a href="#"><i class="fa fa-twitter-square twitter-bg"></i></a>
                 <a href="#"><i class="fa fa-instagram"></i></a>
                 <a href="#"><i class="fa fa-linkedin-square linked-bg"></i></a>
                 <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                 <a href="#"><i class="fa fa-dribbble dribble-bg"></i></a>
                </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Copyright -->
     <div class="footer-copyright text-center">© 2021 Copyright:
      Cybage e-Learning.com
    </div>
    <!-- Copyright -->
   
  
  </footer>
